.product {
    flex: 1 0 25%;
    height: 100px;
    margin: 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;
}

.button {
    border-radius: 5px;
    background-color: #1b6e26;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: #388d44;
}